@import '../Styles/color.scss';

.Donut {
  border-radius: 50%;
  overflow: hidden;
}

.Donut__background {
}

.Donut__border {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Donut__center {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
