@import '../../Styles/color';

.NavBar {
  height: 100%;
  width: 100%;
  border-right: 1px solid $grey;
  padding: 12px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
}

.NavBar__logoWrapper {
  width: 100%;
  height: 40px;
}

.NavBar__logoWrapper__image {
  width: 40px;
  height: 40px;
}

.NavBar__icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &.standup {
    background-image: url('../../../Images/Icons/group_grey.svg');
    &.selected {
      background-image: url('../../../Images/Icons/group_orange.svg');
    }
  }
  &.timer {
    background-image: url('../../../Images/Icons/watch_grey.svg');
    &.selected {
      background-image: url('../../../Images/Icons/watch_orange.svg');
    }
  }
  &.calendar {
    background-image: url('../../../Images/Icons/calendar_grey.svg');
    &.selected {
      background-image: url('../../../Images/Icons/calendar_orange.svg');
    }
  }
  &.dice {
    background-image: url('../../../Images/Icons/dice_grey.svg');
    &.selected {
      background-image: url('../../../Images/Icons/dice_orange.svg');
    }
  }
  &.settings {
    background-image: url('../../../Images/Icons/tool_grey.svg');
    &.selected {
      background-image: url('../../../Images/Icons/tool_orange.svg');
    }
  }
}
