@import './color.scss';

::selection {
  background-color: rgba($orange, 0.8);
  color: white;
}

.clickable {
  cursor: pointer;
}

textarea {
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
}

.Page {
  height: 100vh;
  overflow: auto;
}

.Page-padding {
  padding: 32px;
  box-sizing: border-box;
}

.common-title {
  font-size: 25px;
  font-weight: 600;
}

input[type=text] {
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid $grey;
  padding: 0 16px;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  height: 50px;
  padding: 0px 32px;
  border-radius: 50px;
  background-color: transparent;
  font-size: 18px;
  &.button-blue {
    background-color: $blue;
    color: white;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}