@import './color.scss';

::selection {
  background-color: rgba($orange, 0.8);
  color: white;
}

.clickable {
  cursor: pointer;
}

textarea {
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
}

.Page {
  height: 100vh;
  overflow: auto;
}

.Page-padding {
  padding: 32px;
  box-sizing: border-box;
}

.common-title {
  font-size: 25px;
  font-weight: 600;
}

.common-title-section {
  font-size: 20px;
  font-weight: 600;
}

input[type='text'] {
  height: 50px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid $grey;
  padding: 0 16px;
  &:focus {
    outline: none;
  }
}

.button {
  border: none;
  height: 50px;
  padding: 0px 32px;
  border-radius: 50px;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  &.button-blue {
    background-color: $blue;
    color: white;
  }
  &.button-back {
    background-color: white;
    color: $grey;
    :hover {
      color: $blue;
    }
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 3;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
