.xs-top {
  margin-top: 4px;
}

.s-top {
  margin-top: 6px;
}

.xm-top {
  margin-top: 8px;
}

.m-top {
  margin-top: 12px;
}

.l-top {
  margin-top: 16px;
}

.xl-top {
  margin-top: 32px;
}

.xxl-top {
  margin-top: 64px;
}

.xs-bottom {
  margin-bottom: 4px;
}

.s-bottom {
  margin-bottom: 6px;
}

.xm-bottom {
  margin-bottom: 8px;
}

.m-bottom {
  margin-bottom: 12px;
}

.l-bottom {
  margin-bottom: 16px;
}

.xl-bottom {
  margin-bottom: 32px;
}

.xxl-bottom {
  margin-bottom: 64px;
}
