@import '../../../../Styles/color';

.EventCalendarOneContent {
  max-width: 600px;
  width: 600px;
  max-width: 100%;
  padding: 32px;
  background-color: white;
  border-radius: 20px;
}

.EventCalendarOneContent__top {
  display: flex;
}

.EventCalendarOneContent__titleRow {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.EventCalendarOneContent__menu {
  display: flex;
}

.EventCalendarOneContent__menu-button {
  $size: 20px;
  width: $size;
  height: $size;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 12px;
  cursor: pointer;
}

.EventCalendarOneContent__menu__delete {
  background-image: url('../../../../../Images/Icons/trash_grey.svg');
  &:hover {
    background-image: url('../../../../../Images/Icons/trash_red.svg');
  }
}

.EventCalendarOneContent__menu__close {
  background-image: url('../../../../../Images/Icons/close.svg');
  &:hover {
    background-image: url('../../../../../Images/Icons/close_black.svg');
  }
}

.EventCalendarOneContent__titleRow__color {
  $size: 30px;
  width: $size;
  height: $size;
  margin-right: 6px;
  border-radius: 50%;
}

.EventCalendarOneContent__titleRow__title {
  font-size: 30px;
  font-weight: 600;
}

.EventCalendarOneContent__timeRow {
  font-size: 12px;
  color: $grey-darker;
}

.EventCalendarOneContent__timeRow__start {}

.EventCalendarOneContent__timeRow__end {}

.EventCalendarOneContent__descriptionRow {

}

.EventCalendarOneContent__descriptionRow__textArea {
  width: 100%;
  resize: none;
  border: none;
  font-size: 16px;
  &:focus {
    outline: none;
  }
}



