.UpdateFaceForm {
  display: flex;
  flex-direction: column;
}

.UpdateFaceForm__input {

}

.UpdateFaceForm__colorPicker {
  margin: auto
}

.UpdateFaceForm__image {
  margin: auto;
}

.UpdateFaceForm__button {
  margin: auto;
}