.UpdateFaceForm {
  display: flex;
  flex-direction: column;
}

.UpdateFaceForm__input {
}

.UpdateFaceForm__colorPicker {
  margin: auto;
}

.DiceSettings__image {
  margin: auto;
}

.UpdateFaceForm__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UpdateFaceForm__slack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UpdateFaceForm__slack__emoji {
  margin-right: 16px;
}

.UpdateFaceForm__slack__closeEmoji {
}

.UpdateFaceForm__input-slack {
  flex-grow: 1;
}
