@import '../Styles/color';
@import '../Styles/global.scss';
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

.CalendarPage {
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 16px;
  height: 100%;
  .rbc-current-time-indicator {
    z-index: 0;
  }
  .rbc-time-header {
    height: 17px;
  }
}

.CalendarPage__donuts {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CalendarPage__donuts__element {
  width: 100%;
}

.CalendarPage__calendar {
  height: 320px;
}

.CalendarPage__info__container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  position: relative;
}

.CalendarPage__info__loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.CalendarPage__info__loaderContainer__loaderWrapper__text {
  font-weight: 600;
}