@import '../Styles/color';
@import '../Styles/global.scss';
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

.CurrentDicePage {
  display: flex;
  .rbc-current-time-indicator {
    z-index: 0;
  }
}

.CurrentDicePage__NavBar {
  height: 100%;
  width: $navbar_width;
}

.CurrentDicePage__content {
  height: 100%;
  width: 100%;
}

.CurrentDicePage__diceTimerWrapper {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CurrentDicePage__calendarWrapper {
  flex-grow: 1;
  padding-top: 16px;
  .rbc-time-header {
    height: 0;
  }
}
