@import '../Styles/color';

.CurrentDicePage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

$navbar_width: 60px;

.CurrentDicePage__NavBar {
  height: 100%;
  width: $navbar_width;
}

.CurrentDicePage__content {
  height: 100%;
  width: 100%;
}
