@import '../Styles/color';

.StandupSummary {
}

.StandupSummary__topDate {
  color: $grey-darker;
  font-size: 12px;
}

.StandupSummary__loadingOrEmptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  font-weight: 600;
}